:root {
  /* Palette */
  --color-primary: #003049;
  --color-primary-hover: #00496e;
  --color-secondary: #fdf0d5;
  --color-white: #ffffff;
  --color-black: #000000;

  /* Layout */
  --navbar-height: 5vh;

  /* Third party overrides */
  --kui-color-background: transparent;
  --kui-color-background-neutral-weakest: transparent;
  --jse-theme-color: #62a8ac;
  --jse-background-color: transparent;
  --jse-selection-background-inactive-color: #ffdd88;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 14px;
  line-height: 1.4rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
